Dev
/customSounds
/raw
Testing.lua
HDR_Test_1.lua
HDR_Test_2.lua
HDR_Test_3.lua
*.inkhud
*.cpmodproj
*.log
*.sql
*.sqlite
*.sqlite3
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
~$*